{% extends "base.html" %}

{% block content %}
<div class="carousel">
    <div class="list">
        <div class="item">
            <img src="/static/images/Jellyfish.jpg">  <!-- Here -->
            <div class="content">
                <div class="title">家庭相册</div>
                <div class="topic">爸爸</div>
                <div class="buttons">
                    <button onclick="jumpToPage()">SEE MORE</button>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/static/images/Koala.jpg">    <!-- Here -->
            <div class="content">
                <div class="title">家庭相册</div>
                <div class="topic">妈妈</div>
                <div class="buttons">
                    <button onclick="jumpToPage()">SEE MORE</button>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/static/images/Penguins.jpg">  <!-- Here -->
            <div class="content">
                <div class="title">家庭相册</div>
                <div class="topic">姐姐</div>
                <div class="buttons">
                    <button onclick="jumpToPage()">SEE MORE</button>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/static/images/Tulips.jpg">   <!-- Here -->
            <div class="content">
                <div class="title">家庭相册</div>
                <div class="topic">弟弟</div>
                <div class="buttons">
                    <button onclick="jumpToPage()">SEE MORE</button>
                </div>
            </div>
        </div>
    </div>
    <div class="thumbnail">
        <div class="item">
            <img src="/static/images/Jellyfish.jpg">  <!-- Here -->
            <div class="content">
                <div class="title">
                    爸爸
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/static/images/Koala.jpg">      <!-- Here -->
            <div class="content">
                <div class="title">
                    妈妈
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/static/images/Penguins.jpg">   <!-- Here -->
            <div class="content">
                <div class="title">
                    姐姐
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/static/images/Tulips.jpg">      <!-- Here -->
            <div class="content">
                <div class="title">
                    弟弟
                </div>
            </div>
        </div>
    </div>
    <div class="arrows">
        <button id="prev"><</button>
        <button id="next">></button>
    </div>
    <div class="time"></div>
</div>

<script>
    let nextDom = document.getElementById('next');
    let prevDom = document.getElementById('prev');

    let carouselDom = document.querySelector('.carousel');
    let SliderDom = carouselDom.querySelector('.carousel .list');
    let thumbnailBorderDom = document.querySelector('.carousel .thumbnail');
    let thumbnailItemsDom = thumbnailBorderDom.querySelectorAll('.item');
    let timeDom = document.querySelector('.carousel .time');

    thumbnailBorderDom.appendChild(thumbnailItemsDom[0]);
    let timeRunning = 3000;
    let timeAutoNext = 7000;

    nextDom.onclick = function(){
        showSlider('next');
    }

    prevDom.onclick = function(){
        showSlider('prev');
    }
    let runTimeOut;
    let runNextAuto = setTimeout(() => {
        next.click();
    }, timeAutoNext)
    function showSlider(type){
        let  SliderItemsDom = SliderDom.querySelectorAll('.carousel .list .item');
        let thumbnailItemsDom = document.querySelectorAll('.carousel .thumbnail .item');

        if(type === 'next'){
            SliderDom.appendChild(SliderItemsDom[0]);
            thumbnailBorderDom.appendChild(thumbnailItemsDom[0]);
            carouselDom.classList.add('next');
        }else{
            SliderDom.prepend(SliderItemsDom[SliderItemsDom.length - 1]);
            thumbnailBorderDom.prepend(thumbnailItemsDom[thumbnailItemsDom.length - 1]);
            carouselDom.classList.add('prev');
        }
        clearTimeout(runTimeOut);
        runTimeOut = setTimeout(() => {
            carouselDom.classList.remove('next');
            carouselDom.classList.remove('prev');
        }, timeRunning);

        clearTimeout(runNextAuto);
        runNextAuto = setTimeout(() => {
            next.click();
        }, timeAutoNext)
    }

    function jumpToPage() {
        window.location.href = "http://192.168.2.104:8000/album2017";
    }
</script>

{% endblock content %}